.header3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.infoCount{
    width: 100%;
    height: 30vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('../../public/Assets/bg2.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
.cardTitle{
    font-weight: 800;
    font-size: 50px;
}

.drivers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 30px 30px 0 0;
    padding: 0px 0px 50px 0;
}
.drivers .driverCards{
    padding: 20px 0px;
    position: relative;
    z-index: 0;
    transition: 0.2s all;
    /* margin: 60px 5px 10px 5px; */
    /* margin: 10px; */
    /* top: 50px; */
    border: 2px solid #ddd;
}

.drivers .driveImg{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #ddd;
    background: #fff;
    transform: translateY(-60%);
    overflow: hidden;
    margin: 0 auto 10px;
    padding: 15px;
}

.driverBtn{
    outline: none;
    border: none;
    width: 250px;
    background-color: #069a12f1;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}
.driverBtn:hover{
    background-color: #069a12;
}